.container {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;
  
    display: flex;
    flex-direction: column;

    flex: 0.75;
  }

.container section {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;

    margin: 2rem auto 1rem;

    align-content: center;
}

@media (max-width: 800px) {
  .container section {
    flex: .75;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
  }
}